# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://zyymcvrbufqyxbmixbep.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_spgDp4OoSfmPlz59MQH0HA_2oQMlldr
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5eW1jdnJidWZxeXhibWl4YmVwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTUzOTQ1MCwiZXhwIjoyMTA1MTE1NDUwfQ.KnPLVXIt2u3pipFyENkhh_IgaexfNG45DrdCVeH__3w

# SMTP (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ishmeeeee44@gmail.com
SMTP_PASSWORD=kwxcjyhyxxihwwcx
SMTP_FROM=ishmeeeee44@gmail.com

# OTP
OTP_EXPIRY_MINUTES=5
